<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.macutil.helper</string>
    <key>BundleProgram</key>
    <string>Contents/Library/LaunchServices/com.macutil.helper</string>
    <key>MachServices</key>
    <dict>
        <key>com.macutil.helper</key>
        <true/>
    </dict>
    <key>RunAtLoad</key>
    <false/>
</dict>
</plist>
